/* BARRA DE NAVEGACIÓN */


.menu-navigation a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--primario);
    bottom: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.menu-navigation a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


/* PORTADA */


.animate__fadeInUp {
    animation-delay: 1s;
}


/* COLECCIONES */


.colecciones article:hover {
    transform: scale(1.2);
    transition: all .5s;
}


/* CONTACTO */


.contacto button:hover {
    background-color: #d87000;
}



/* FOOTER */


.footer i:hover {
    transform: scale(1.2);
    transition: all .2s;
}