@media (min-width: 600px) {

    .contacto div {
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }

    .contacto article {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}