body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geologica', sans-serif;
    background-color: #303030;
    color: #fff;
}

* {
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --primario: #f77f00;
    --claro: #38b000;
    --oscuro: #007200;
}

h1 {
    font-size: 3em;
}

h2 {
    color: var(--primario);
    text-align: center;
    font-size: 3em;
}

hr {
    border-color: var(--primario);
    background-color: var(--primario);
    height: 1px;
    margin: 0;
}

.triangulo-top {
    width: 0;
    height: 0;
    border-left: 100vw solid var(--primario);
    border-bottom: 3em solid transparent;
}

.triangulo-bottom {
    width: 0;
    height: 0;
    border-right: 100vw solid var(--primario);
    border-top: 3em solid transparent;
}

/* BARRA DE NAVEGACIÓN */


.navbar {
    background-color: #303030;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--primario) 2px solid;
}

.navbar img {
    height: 50px;
}

.navbar i {
    color: var(--primario);
    font-size: 2em;
}

.menu-navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 88px;
    text-align: center;
    z-index: 1000;
    background-color: #303030;
    margin: 0;
    padding: 2em;
    gap: 1em;
    border: var(--primario) 2px solid;
    border-top: none;
    right: 0;
}

.navbar a {
    color: var(--primario);
    text-decoration: none;
    position: relative;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .menu-navigation{
    display: flex;
}


/* PORTADA */


.fondo {
    display: flex;
    position: absolute;
    z-index: 10;
    width: 100%;
    min-height: calc(100vh - 88px);
    background-repeat: no-repeat;
    background-image: url('https://miro.medium.com/v2/resize:fit:0/1*E3CIMvMkRpBHgGFTwmKpTg.jpeg');
    background-size: cover;
    background-position: 50%;
    filter: grayscale(1) brightness(15%);
}

.portada {
    position: relative;
    margin: 0 2em;
    z-index: 500;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 88px);
    align-items: center;
    text-align: center;
    justify-content: center;
}

.portada h1 {
    color: var(--primario);
    margin-top: 0;
}

.portada p {
    color: #fff;
    font-size: 1.1em;
    margin: 0;
    max-width: 508px;
}


/* NOSOTROS */


.nosotros {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.nosotros div {
    width: 80%;
    border: var(--primario) 3px solid;
    padding: 1em;
    border-radius: 20px;
    margin: 1em;
}

.nosotros p {
    margin-top: 1em;
}

.nosotros i {
    color: var(--primario);
    font-size: 2em;
    padding: .2em;
    border: var(--primario) 2px solid;
    border-radius: 100%;
}


/* COLECCIONES */


.colecciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primario);
}

.container {
    display: flex;
    overflow-y: hidden;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;
}

.colecciones img{
    width: 8.7em;
    height: 8.7em;
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 0 0 0 2px #303030;
}

.colecciones article {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.colecciones h2 {
    color: #303030;
}

.colecciones h3 {
    color: #303030;
    text-align: center;
    margin: 10px 0;
}


/* CONTACTO */


.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 96px);
}

.contacto form {
    margin: 0 0 2em;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
}

.contacto div {
    display: flex;
    flex-direction: column;
}

.contacto input, textarea{
    background-color: #eeeeee;
    border: none;
    border-radius: 10px;
    margin: 5px;
}

.contacto input {
    height: 2em;
}

.contacto label {
    margin: 5px;
    font-size: .8em;
    color: var(--primario);
}

.contacto article {
    display: flex;
    flex-direction: column;
}

.contacto button {
    background-color: var(--primario);
    border: none;
    font-family: 'Geologica', sans-serif;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    cursor: pointer;
}


/* FOOTER */


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primario);
    color: #303030;
    padding: 2em;
}

.footer p, h4 {
    font-size: .8em;
}

.footer i {
    font-size: 2em;
    margin: .3em;
    cursor: pointer;
}


/* LOGIN */


.login {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 88px);
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.login div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login label {
    color: var(--primario);
}

.login input {
    background-color: #eeeeee;
    border: none;
    border-radius: 10px;
    height: 1.5em;
    width: 20em;
}

.login label {
    margin: 1em 0 .5em 0;
    color: var(--primario);
}

.login button {
    margin: 1.5em;
    background-color: var(--primario);
    border: none;
    border-radius: 10px;
    padding: .8em;
    font-family: 'Geologica', sans-serif;
    color: #303030;
}

.login p {
    cursor: pointer;
    margin-top: 0;
}

.login a {
    text-decoration: none;
    color: var(--primario);
}